# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# Database Configuration
MONGODB_URI=mongodb+srv://rohan:rohan123@safacycle.vtwnk4r.mongodb.net/
MONGODB_TEST_URI=mongodb+srv://rohan:rohan123@safacycle.vtwnk4r.mongodb.net/

# JWT Configuration
JWT_SECRET=M8AAo3o5nL5JvErqW8VW9wotT8EJtKIxvUwlmu+dJFQ=
JWT_EXPIRE=30d
